.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalH1 {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  white-space: nowrap;
}

.modalTextarea {
  margin-top: 20px;
  outline: none;
}

.ModalEmojiIcon {
  padding: 10px;
  max-width: fit-content;
  border-radius: 100px;
  margin-bottom: 15px;
}

.ModalEmojiIcon:hover {
  background-color: #F3F2EF;
  cursor: pointer;
}

.ModalIconsConainer {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.ModalIcon1,
.ModalIcon2,
.ModalIcon3,
.ModalIcon4 {
  background-color: #F3F2EF;
  padding: 15px;
  max-width: fit-content;
  border-radius: 100px;
}

.ModalHoverContainer {
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
  margin-left: -20px;
}

.ModalHover1,
.ModalHover2,
.ModalHover3,
.ModalHover4 {
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  max-width: fit-content;
  background-color: #FFFFFF;
  color: #000000E6;
  border: 1px solid rgba(230, 224, 224, 0.922);
  box-shadow: 0 1px 1px #888888;
  display: none;
}

.ModalIcon1:hover,
.ModalIcon2:hover,
.ModalIcon3:hover,
.ModalIcon4:hover {
  display: block;
  cursor: pointer;
  outline: 2px solid #F3F2EF;
  box-shadow: 0 1px 1px #888888;
}

.modalDisableButton {
  color: #0000004D;
  background: #00000014;
}

.modalButton {
  background-color: #0A66C2;
  color: white;

}

.modalDisableButton,
.modalButton {
  padding: 4px 18px;
  border-radius: 25px;
  margin-top: 10px;
}

.modalCloseBtn:hover {
  background-color: #b0b0b06e;
  padding: 10px;
  border-radius: 100px;
}

.PostButtonContainer {
  display: flex;
  float: right;
  align-items: center;
  gap: 10px;
}

textarea {
  width: 100%;
}

.react-responsive-modal-modal {
  margin-top: 50px;
  max-width: 742px;
 border-radius: 10px;
 display: block;
 margin-inline: auto;
}
